.login {
  width: 100%;
  height: 100%;
  @include flex-column();

  &__container {
    @include flex-column();
    padding: 40px 80px;
    background-color: #24ac2f70;
    border-radius: 8px;

    &__title {
      font-size: 20px;
      padding-bottom: 20px;
    }

    &__row {
      @include flex-column();
      align-items: flex-start;
      padding-bottom: 20px;

      &__desc {
        font-size: 12px;
      }

      &__input {
        width: 300px;
        border: none;
        height: 28px;
        border-radius: 4px;
        outline: none;
      }

      &__error {
        color: getColor(color-4);
        font-size: 12px;
      }
    }
  }
}
