.sideBar {
  position: fixed;
  width: 80px;
  top: 80px;
  &__container {
    background-color: getColor(color-2);
    padding-top: 20px;
    @include flex-column();

    &__elem {
      color: getColor(color-5);
      width: 100%;
      text-align: center;
      padding: 5px;
      background-color: getColor(color-1);
      cursor: pointer;
      text-decoration: none;
      position: relative;
      border: none;

      &__img {
        width: 50%;
      }

      &__desc {
        position: absolute;
        display: none;
        padding: 5px;
        top: 10px;
        left: 80px;
        width: 110px;
        background-color: getColor(color-2);
        color: getColor(color-5);
      }
      &:hover {
        :last-child {
          display: block;
        }
      }
    }

    .active {
      background-color: getColor(color-3);
    }
  }
}
