.header {
  width: 100%;
  height: 120px;
  padding-bottom: 40px;
  &__content {
    width: 100%;
    height: 100%;
    background-color: getColor(color-1);
    color: getColor(color-5);
    @include flex-row();
    justify-content: space-between;

    &__text {
      margin: 0 20px;
      font-size: 20px;
    }
    &__user {
      @include flex-row();

      &__btn {
        margin: 0 20px;
        width: 100px;
        cursor: pointer;
        height: 40px;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        background-color: getColor(color-3);
        border: none;
        outline: none;
        color: getColor(color-5);
      }
    }

    &__popup {
      background-color: getColor(color-3);

      .popup {
        padding-top: 5px;
        background-color: getColor(color-2);
        position: relative;
        z-index: 2;
        list-style-type: none;

        .active {
          background-color: getColor(color-3);
        }

        &__elem {
          text-decoration: none;
        }
      }
    }
  }
}
