.header {
  width: 100%;
  height: 120px;
  padding-bottom: 40px;
  &__content {
    width: 100%;
    height: 100%;
    background-color: $blue;
    color: $white;
    @include flex-row();
    justify-content: space-between;

    &__text {
      margin: 0 20px;
      font-size: 20px;
    }
    &__user {
      @include flex-row();

      &__btn {
        margin: 0 20px;
        width: 100px;
        cursor: pointer;
        height: 40px;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        background-color: $green;
        border: none;
        outline: none;
        color: $white;
      }
    }
  }
}
